* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "raleway", sans-serif;
    background-color: rgb(240, 240, 240);
    display: flex;
    overflow: hidden;
}

main {
    margin-top: 70px;
    padding: 10px;
}

#navbar {
    background-color: #46639a;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.navlink {
    display: flex;
    height: 100%;
}

.navlink a {
    color: white;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    line-height: 70px;
    padding: 0 10px;
}

.navlink:hover {
    background-color: #2d4064;
}

.navlink.active {
    background-color: #334a74;
}

#btnLogin {
    background-color: #2d4064;
    border-radius: 25px;
    text-decoration: none;
    border: none;
    padding: 10px;
    margin: 10px;
    color: white;
    font-size: 0.7rem;
    cursor: pointer;
    transition: 0.2s;
}

#btnLogin:hover {
    background-color: #2d4064;
    transform: scale(1.05);
}