:root {
    --body-bg-color: #f0f0f0;
    --body-text-color: #000000;
    --navbar-text-color: #ffffff;
    --navbar-bg-color: #46639a;
    --navbar-bg-color-hover: #2d4064;
    --navbar-bg-color-active: #334a74;
    --navbar-button-color: var(--navbar-bg-color-active);
    --navbar-button-color-hover: var(--navbar-bg-color-hover);
    --sidebar-bg-color: #dadada;
    --sidebar-text-color: #202020;
    --sidebar-a-color: var(--navbar-bg-color);
    --sidebar-a-color-hover: var(--navbar-bg-color-hover);
    --repo-card-bg-color: #ffffff;
    --repo-card-bg-color-active: #5cdb5c;
    --input-fields-bg-color: #dadada7d;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-margin: 20px;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    color: var(--body-text-color);
    background-color: var(--body-bg-color);
    display: flex;
    overflow: overlay;
}

body h1, h2, h3, h4{
    margin-bottom: 10px;
}

main {
    margin-top: 70px;
    padding: 20px;
}

#navbar {
    background-color: var(--navbar-bg-color);
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.navlink {
    display: flex;
    height: 100%;
}

.navlink a {
    color: var(--navbar-text-color);
    text-decoration: none;
    display: inline-block;
    height: 100%;
    line-height: 70px;
    padding: 0 20px;
}

.navlink.active {
    background-color: var(--navbar-bg-color-active);
}

.navlink:hover {
    background-color: var(--navbar-bg-color-hover);
}

button {
    color: white;
    font-weight: 500;
    padding: 10px 15px;
    border: 1px solid var(--navbar-bg-color);
    background-color: var(--navbar-bg-color);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    border: 1px solid var(--navbar-button-color);
    background-color: var(--navbar-button-color);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#btnLogin {
    background-color: var(--navbar-button-color);
    border-radius: 25px;
    text-decoration: none;
    border: none;
    padding: 15px;
    margin: 10px;
    color: var(--navbar-text-color);
    font-size: 0.7rem;
    cursor: pointer;
    transition: 0.2s;
}

#btnLogin:hover {
    background-color: var(--navbar-button-color-hover);
    transform: scale(1.05);
}
