.frontpage-text {
    font-weight: bold;
}

.step-div ul {
    margin-left: 25px;
}

#logo {
    margin-left: 10px;
}

#title-span {
    display: flex;
    align-items: center;
}

.hero {
    height: calc(100vh - 99px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textbox {
    margin-right: 30px;
    animation: fadein ease-in 1s;
}

.animation-div {
    animation: fadeincode ease-in 1s;
}

.firstview-div {
    padding: 65px 100px 25px 100px;
    display: flex;
    justify-content: space-between;
}

.center-content {
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadein ease-in 1s;
    margin-bottom: 70px;
}

.center-content button {
    padding: 20px 40px;
    border-radius: 50px;
}

#getStart {
    color: var(--navbar-text-color);
    margin: 30px 100px 0px;
    padding: 10px 30px;
    border-radius: 15px;
    background-color: var(--navbar-bg-color);
}

.step-div {
    background-color: var(--repo-card-bg-color);
    padding: 20px;
    margin: 65px 100px 30px 100px;
    border-radius: 15px;
    border: 2px solid var(--sidebar-bg-color);
    opacity: 0;
    transition: 0.4s ease-in;
}

.step-div.active {
    opacity: 1;
}

.step-div.active .step-number {
    animation: scaleStep 0.5s ease-out;
}

.content-display {
    display: inline-flex;
    justify-content: space-between;
}

.content-text {
    padding-right: 45px;
}

.content-display img {
    border-radius: 5px;
    width: 55%;
}

.step-number {
    background-color: var(--stepnumcolor);
    padding: 10px 20px;
    margin-top: -40px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 2px solid var(--sidebar-bg-color);
    width: fit-content;
}

footer {
    color: var(--navbar-bg-color);
    padding: 40px 120px 40px 120px;
    margin: 40px -20px -20px -20px;
    background-color: var(--navbar-bg-color);
    display: flex;
    justify-content: space-between;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.footer-section h3 {
    font-size: 15px;
    font-weight: 600;
    font-style: oblique;
}

.footer-section a {
    color: white;
    font-size: 10px;
    margin-top: 15px;
    text-decoration: none;
}


@keyframes fadein {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes fadeincode {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes scaleStep {
    0% {
        transform: scale(1);
    }

    90% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
