.card-list ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50vw;
}

.card {
    background-color: white;
    width: 100%;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;

    border-style: none;
    transition: 0.2s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.01);
}

.card.active {
    background-color: lightgreen;
}
