.func-div {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.func-div section {
    margin-bottom: 20px;
}

.func-div pre {
    background-color: rgb(199, 223, 255);
    border: 1px solid var(--navbar-bg-color);
    padding: 20px;
    margin-bottom: 20px;
}

.func-div .input{
    margin-right: 20px;
}

button[type="submit"] {
    padding: 10px 15px;
    border: 1px solid grey;
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    left: 15px;
}

button[type="submit"]:hover {
    color: white;
    border: 1px solid grey;
    background-color: rgb(85, 85, 85);
    transition: 0.2s;
}