main {
    height: calc(100vh - 70px);
    width: 100%;
    overflow-y: scroll;
    padding-right: 30%;
}

main h2 {
    margin-top: 50px;
}

#sidebar {
    width: 260px;
    height: calc(100vh - 70px);
    margin-top: 70px;
    padding: 20px;
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);
    overflow-y: scroll;
}

#sidebar li {
    margin-bottom: 10px;
    list-style: none;
    cursor: pointer;
}

#sidebar a {
    color: var(--sidebar-a-color);
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

#sidebar a:hover {
    color: var(--sidebar-a-color-hover);
    border-bottom: 2px solid;
    transition: 0.1s;
}

.func-div {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    height: fit-content;
    width: 100%;
}

.func-div section {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.func-div pre {
    background-color: var(--input-fields-bg-color);
    border: 2px solid var(--sidebar-bg-color);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.tc-div {
    border: 2px solid var(--sidebar-bg-color);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 40px;
}

.tc-div:last-child {
    margin-bottom: 0px;
}

.input-fields {
    width: auto;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 2px;
}

.input-fields .input{
    margin-right: 20px;
}

.input-fields input, select {
    background-color: var(--input-fields-bg-color);
    border: 2px solid var(--sidebar-bg-color);
    border-radius: 4px;
    padding: 2px;
}

.input-fields input:focus, select:focus {
    outline: none;
    border: 2px solid var(--navbar-bg-color);
}

.description, .comment {
    width: 355px;
}

.btn-include {
    color: var(--body-text-color);
    background-color: #ffffff;
    border-color: var(--sidebar-bg-color);
    margin-bottom: 10px;
    width: min-content;
}
.btn-include:hover {
    color: #ffffff;
    border: 2px solid #008000;
    background-color: #008000;
}

.btn-exclude, .btn-del {
    color: var(--body-text-color);
    background-color: #ffffff;
    border-color: var(--sidebar-bg-color);
    margin-bottom: 10px;
}

.btn-exclude:hover, .btn-del:hover {
    color: #ffffff;
    border: 2px solid #b20000;
    background-color: #ff0000;
}

/* Special options for the delete button */
.btn-del {
    float: right;
    margin-top: -4px;
    margin-bottom: 0px;
} 
    
button[type="submit"] {
    position: fixed;
    bottom: 20px;
    left: 60px;
    z-index: 1;
}

button[type="submit"]:hover {
    border: 2px solid #006700;
    background-color: #008000;
}
