<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/scrollbar.css">
    
    block style
    block title
</head>

<body>
    <header> 
        <nav id="navbar">
            <ul>
                <li name="/" class="navlink"><a href="/">Home</a></li>
                if user
                    <li name="/repos" class="navlink"><a href="/repos">Choose repository</a></li> 
                    <li name="/testing" class="navlink"><a href="/testing">Testing</a></li> 
                    <li name="/logs" class="navlink"><a href="/logs">Logs</a></li> 
            </ul>
            if user
                <button id="btnLogout" class="auth-btn" onclick="window.open('/logout', '_blank')">Logout</button>
            else
                <button id="btnLogin" class="auth-btn" onclick="window.location.href='/login'">Login with GitHub</button>
        </nav>
    </header> 

    block content

    <script src="/static/js/base.js"></script>
    block script

</body>
</html>