<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>

<body>
<header> 
    <nav>
        <ul class="list">
            <li class="tab"><a href="#">Choose repository</a></li> 
            <li class="tab"><a href="#">Testing</a></li> 
            <li class="tab"><a href="#">Logs</a></li> 
        </ul>
         <li><a class="btnLogin_a" href="#"><button id="btnLogin">Login with GitHub</button></a></li>
    </nav>
    
</header> 




    <h1>Hello, World</h1>
    ul
        each yeet in functions
            li= yeet.name
</body>

</html>