extends base.pug

block style 
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/animation.css ">

block title
    <title>TestTube</title>

block content
    <main id="top">
        <div class="hero">
            <div class="firstview-div">
                <div class="textbox"> 
                   <span id="title-span">
                        <h1>Welcome to</h1>
                        <img id="logo" src="/static/img/logo_haha.png" alt="logo" width="175px">
                   </span> 
                    <br><br>
                    <section>
                      <p class="frontpage-text">TestTube is a powerful tool for unit testing your JavaScript projects.</p> <br>
                    </section>

                    <section>
                       <p class="frontpage-text">TestTube is a DevOps integrated solution that have the capability to dynamically generate test cases from a GitHub repository.</p> <br>
                    </section>

                    <section>
                        <p class="frontpage-text">TestTube intends to require developers at all levels of experience to consider unit testing with the ambition of creating better and safer software solutions.</p> <br>
                    </section>

                </div>
                <div class="animation-div">
                    <div class="loading">
                        <p class="animation-text"></p>
                    </div>
                </div>
            </div>

            <div class="center-content">
                <button onclick="location.href='#getStart';">Get Started</button>
            </div>
        </div>
        
        <!-- Steps%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
        
        <h2 id="getStart">Getting Started</h2>

        <div class="step-div">
            <div class="step-number">Step 1</div>
            <div class="content-display">
                <div class="content-text">
                    <h2>Login with GitHub</h2>
                    <p>First login with your GitHub account. To be able to use the application, the applicaiton have to be connected with your GitHub account. This is required for the application to receive your repositories and test your code. <br> When you click the button you will be redirected to GitHubs login page and when login have been confirmed, you will be redirected to the homepage.
                    </p>
                </div>
                <img class= "step-img" src="/static/img/step 1.png" alt="step one">
            </div>
        </div>
       
        <div class="step-div">
            <div class="step-number">Step 2</div>
            <div class="content-display">
                <div class="content-text">
                    <h2>Choose repository</h2>
                    <p> When logged in, you are ready to use the application. In the top navigation bar select "Choose repository". You will then shortly after be redirected to a different page, where your repositories and open pull requests will be visible.
                    </p>
                </div>
                <img class="step-img" src="/static/img/step 2.png" alt="step two">
            </div>
        </div>

        <div class="step-div">
            <div class="step-number">Step 3</div>
            <div class="content-display">
                <div class="content-text">
                    <h2>Choose open pull request</h2>
                    <p> The first time accessing a repository you will be asked to setup the repository. When a repository has been selected and setup, a list of open pull request will be shown if there exist any. <br> When clicking an open pull request, you will be directed to the testing page.
                    </p>
                </div>
                <img class="step-img" src="/static/img/step 3.png" alt="step three">
            </div>
        </div>

        <div class="step-div">
            <div class="step-number">Step 4</div>
            <div class="content-display">
                <div class="content-text">
                    <h2>Write your testcases</h2>
                    <p>On the testing page, the functions to create tests for will be visible. Each function has a status:
                    </p>
                    <ul>
                        <li>Status -1: Indicates that at least one testcase in to the function has failed.</li>
                        <li>Status 0: Indicates that the function has not yet been considered.</li>
                        <li>Status 1: Indicates that the function has been excluded.</li>
                        <li>Status 2: All testcases in the function have passed.</li>
                    </ul> 
                    <br>
                    <p>For each function, the function code is visible. It is possible to exclude the function and add or delete testcases to the given function. In the input fields the desired inputs and outputs can be inserted and matched the desired way as well as include a description.
                    </p>
                </div>
                <img class="step-img" src="/static/img/step 4.png" alt="step four">
            </div>
        </div>

        <div class="step-div">
            <div class="step-number">Step 5</div>
            <div class="content-display">
                <div class="content-text">
                    <h2>Submit your testcases</h2>
                    <p>When all the desired tests have been written, they are to be submitted so that the tests can be run. To submit your tests, click the submit button. You will then be redirected back to the choose respoitory page - wait a minute, reload this page and press the log icon to view the result. 
                    </p>
                </div>
                <img class="step-img" src="/static/img/step 5.png " alt="step five">
            </div>
        </div>

        <div class="step-div">
            <div class="step-number">Step 6</div>
            <div class="content-display">
                <div class="content-text">
                    <h2>Select report log </h2>
                    <p>After test have been submittet a test log file have been produced and will be available under the related repository. <br> To view the test log from the tests you have just submitted, locate the pull request to the given repository and press shown icon. <br> You will then be directed to the test report.
                    </p>
                </div>
                <img class="step-img" src="/static/img/step 7.png" alt="step six" >
            </div>
        </div>

        <div class="step-div">
            <div class="step-number">Step 7</div>
            <div class="content-display">
                <div class="content-text">
                    <h2>View test results </h2>
                    <p> The test log will display the result of each file. All functions in the given test file/suite, are grouped in the same box with the belonging testcases. <br> The status of each testcase and function is indicated as passed or failed with the color green (passed) and red (failed).
                    </p>
                </div>
                <img class="step-img" src="/static/img/step 8.png" alt="step seven">
            </div>
        </div>

        <div class="step-div">
            <div class="step-number">Step 8</div>
            <div class="content-display">
                <div class="content-text">
                    <h2>Excluded functions</h2>
                    <p>Under the result of each file, it is possible to see which funtions have been excluded from the tests. <br> In other words, functions that have not been considered and have not been unit tested.  
                    </p>
                </div>
                <img class="step-img" src="/static/img/step 6.png" alt="step eight" >
            </div>
        </div>

        <div class="step-div">
            <div class="step-number">Step 69</div>
            <div class="content-display">
                <div class="content-text">
                    <h2>Eat ass and go fast Eat fast and go ass</h2>
                    <p>
                    </p>
                </div>
                <img class="step-img" src="/static/img/unknown.png" alt="ass" >
            </div>
        </div>


        <div class="center-content">
            <button onclick="location.href='#';">To top</button>
        </div>



        
        <footer>
            <div class="footer-section">
                <h3>&copy; TestTube.com, (2022)</h3>
                <img src="/static/img/logo_haha.png" alt="ATC-logo" width="120px">
                
            </div>
            
            <div class="footer-section">
                <h3>About us</h3> 
                <a target="_blank" href="https://github.com/thor1878/P2">GitHub</a>
                <a target="_blank" href="https://www.cs.aau.dk/">AAU</a>
            </div>

            <div class="footer-section"> 
                <h3>Contact us</h3>
                <a href="mailto:fs-21-sw-2-a306@student.aau.dk">Mail</a>
                <a target="_blank" href="https://github.com/thor1878/P2/blob/main/LICENSE">Terms</a> 
            </div>
        </footer>
    </main>
    
    block script
        <script src="/static/js/animation.js"></script>
        