extends base.pug

block style 
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="../static/css/animation.css ">

block title
    <title id>ATC-Flow</title>

block content
    <main id="top">
        <div class="hero">
            <div class="firstview-div">
                <div class="textbox"> 
                    <h1>Welcome to ATC-Flow</h1>
                    <p>Hej Hej her skal der står noget welcome og info <br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis porro fugiat dolorum facilis deserunt ut, iste itaque, sed aperiam praesentium, non nemo consequuntur. Quae tempore adipisci alias commodi temporibus omnis.
                    </p>
                    <img src="../static/img/ATC-logos_transparent.png" alt="logo" height="150px" width="150px">
                </div>
                <div class="animation">
                    <div class="loading">
                        <p class="animation-text"></p>
                    </div>
                </div>
            </div>

            <div class="center-content">
                <button onclick="location.href='#getStart';">Get Started</button>
            </div>
        </div>
        
        
        <!-- Steps%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
        
        <h2 id="getStart">Getting Started</h2>

        <div class="step-div">
            <div class="step-number">Step 1</div>
            <div class="content-display">
                <div class="content-text">
                    <h2>Login with GitHub</h2>
                    <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corporis magni quod consectetur placeat, dignissimos tempora autem recusandae provident, itaque obcaecati minus voluptates! Illo voluptas beatae, quod dignissimos dolorum officiis?
                    </p>
                </div>
                <img class= "step-img" src="../static/img/step 1.png" alt="step one" width="35%">
            </div>
        </div>
       
        <div class="step-div">
            <div class="step-number">Step 2</div>
            <div class="content-display">
                <div class="content-text">
                    <h2>Choose repository</h2>
                    <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, cum accusamus saepe dolorum, reprehenderit accusantium dicta laudantium mollitia ducimus cumque, temporibus iusto ex non. Quisquam impedit ut eveniet animi commodi.
                    </p>
                </div>
                <img class="step-img" src="../static/img/step 2.png" alt="step one" width="35%">
            </div>
        </div>

        <div class="step-div">
            <div class="step-number">Step 3</div>
            <div class="content-display">
                <div class="content-text">
                    <h2>Choose open pull request</h2>
                    <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, cum accusamus saepe dolorum, reprehenderit accusantium dicta laudantium mollitia ducimus cumque, temporibus iusto ex non. Quisquam impedit ut eveniet animi commodi.
                    </p>
                </div>
                <img class="step-img" src="../static/img/step 3.png" alt="step one" width="35%">
            </div>
        </div>

        <div class="step-div">
            <div class="step-number">Step 4</div>
            <div class="content-display">
                <div class="content-text">
                    <h2>Write your testcases</h2>
                    <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, cum accusamus saepe dolorum, reprehenderit accusantium dicta laudantium mollitia ducimus cumque, temporibus iusto ex non. Quisquam impedit ut eveniet animi commodi.
                    </p>
                </div>
                <img class="step-img" src="../static/img/test billiede.jpg" alt="step one" width="35%">
            </div>
        </div>

        <div class="step-div">
            <div class="step-number">Step 5</div>
            <div class="content-display">
                <div class="content-text">
                    <h2>Submit your testcases</h2>
                    <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, cum accusamus saepe dolorum, reprehenderit accusantium dicta laudantium mollitia ducimus cumque, temporibus iusto ex non. Quisquam impedit ut eveniet animi commodi.
                    </p>
                </div>
                <img class="step-img" src="../static/img/test billiede.jpg" alt="step one" width="35%">
            </div>
        </div>

        <div class="step-div">
            <div class="step-number">Step 6</div>
            <div class="content-display">
                <div class="content-text">
                    <h2>View your test reports </h2>
                    <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, cum accusamus saepe dolorum, reprehenderit accusantium dicta laudantium mollitia ducimus cumque, temporibus iusto ex non. Quisquam impedit ut eveniet animi commodi.
                    </p>
                </div>
                <img class="step-img" src="../static/img/test billiede.jpg" alt="step one" width="35%">
            </div>
        </div>

        <div class="center-content">
            <button onclick="location.href='#';">To top</button>
        </div>



        
        <footer>
            <div class="footer-section">
                <h3>&copy; ATC-Flow.com, (2022)</h3>
                <img src="../static/img/ATC-logos_transparent.png" alt="ATC-logo" width="120px" height="120px">
                
            </div>
            
            <div class="footer-section">
                <h3>About us</h3> 
                <a target="_blank" href="https://github.com/thor1878/P2">GitHub</a>
                <a target="_blank" href="https://www.cs.aau.dk/">AAU</a>
            </div>

            <div class="footer-section"> 
                <h3>Contact us</h3>
                <a href="mailto:fs-21-sw-2-a306@student.aau.dk">Mail</a>
                <a target="_blank" href="https://github.com/thor1878/P2/blob/main/LICENSE">Terms</a> 
            </div>
        </footer>
    </main>
    
    block script
        <script src="../static/js/animation.js" ></script>