extends base.pug

block style 
    <link rel="stylesheet" href="../static/css/testing.css">

block content 

    <aside class="sidebar">
        <ul>
            <li>File1.js</li>
            <li>File1.js</li>
            <li>File1.js</li>
            <li>File1.js</li>
            <li>File1.js</li>
            <li>File1.js</li>
        </ul>
    </aside>

    <main>
        <h1>Testing</h1>

        <h3>Repository: </h3>
        <h3>File: </h3>
    </main>